.navbar {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.navbar-logo img {
  height: 75px;
}

.navbar-items {
  display: flex;
  align-items: center;
}

.navbar-menu {
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.navbar-menu li {
  margin-right: 15px;
}

.navbar-link {
  color:black;
  text-decoration: none;
  font-weight: 500;
  letter-spacing: 1px;
  margin: 0 10px;
}

.navbar-link:hover {
  opacity: .6;
}

.navbar-dropdown {
  position: relative;
}

.navbar-dropdown-content {
  display: none;
  position: absolute;
  background-color: #483d8b;
  padding: 10px;
  z-index: 1;
  
}

.navbar-dropdown:hover .navbar-dropdown-content {
  display: block;
}

.navbar-dropdown-content a {
  color: white;
  text-decoration: none;
}

.navbar-search {
  display: flex;
  align-items: center;
}

.navbar-search-input {
  margin-right: 10px;
}

.navbar-search-button {
  background-color: #483d8b;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
}

.navbar-search-button:hover {
  background-color: #b7c274;
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-menu {
    margin-top: 10px;
  }

  .navbar-items,
  .navbar-search {
    margin-top: 10px;
  }
}
